.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headBox {
  display: flex;
  width: 100%;
  position: relative;
  top: 40px;
  padding: 0px 40px 0px 40px;
}

.loginBox {
  display: flex;
  position: absolute;
  right: 47px;
}

.buttons {
  width: fit-content;
  height: 44px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}

.loginButton {
  border: 1px solid #384084;
  color: #000;
  margin-right: 20px;
  background-color: #fff;
}

.signupButton {
  background-color: #384084;
  border: 1px solid #fff;
  color: white;
}
